aisuite
alembic
altair
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru
attrs
azure-ai-inference
azure-core
babel
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy
cycler
databricks-sdk
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml
Deprecated
distro
docker
docstring-parser
eval_type_backport
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema
filelock
Flask
fonttools
fqdn
fsspec
generativeai
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
importlib_metadata
inflect
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1738421264/work
ipywidgets
isodate
isoduration
itsdangerous
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2
jiter
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mistralai
mistune
mlflow
mlflow-skinny
more-itertools
narwhals
nbclient
nbconvert
nbformat
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx
notebook
notebook_shim
numpy
openai
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
overrides
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas
pandocfilters
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
prometheus_client
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
proto-plus
protobuf
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydough
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger
pytz
PyYAML
pyzmq @ file:///croot/pyzmq_1734687138743/work
RapidFuzz
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
s3transfer
scikit-learn
scipy
Send2Trash
setuptools
shapely
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap
sniffio
soupsieve
SQLAlchemy
sqlglot
sqlparse
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tornado @ file:///croot/tornado_1733960490606/work
tqdm
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typeguard
types-python-dateutil
typing-inspection
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata
uri-template
uritemplate
urllib3
vertexai
watchdog
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
